.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}
.card h4 {
  color: #1890ff;
}

.trigger:hover {
  color: #1890ff;
}
.artikel img {
  height: 200px;
  width: 200px;
}

.logo img {
  margin: 20px;
  height: 55px;
  width: 150px;
}

.site-layout .site-layout-background {
  background: #fff;
}
